* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background:#102027;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("../font/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../font/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("../font/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../font/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../font/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../font/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("../font/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("../font/montserrat/montserrat-v12-latin-900.ttf"),
    url("../font/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"),
    url("../font/montserrat/montserrat-v12-latin-900.svg") format("woff2"),
    url("../font/montserrat/montserrat-v12-latin-900.woff") format("woff"),
    url("../font/montserrat/montserrat-v12-latin-900.woff2") format("truetype");
}
@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../font/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/poppins/Poppins-SemiBold.ttf');
}


a, p, blockquote, li, div, input, button, tr {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, label, th, strong, span {
    font-family: 'Poppins-Regular', sans-serif;
}


.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -90;
    height: 100vh;
}
.title-heading {
    color: white;
    text-transform: uppercase;
    margin-left: 100px;
    padding-top: 50px;
}
.mobile-nav {
    position: fixed;
    padding-top: 80px;
    width: 0;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: rgba(16, 32, 39, 0.83);
    display: block;
}
.close {
    font-size: 45px;
    float: right;
    margin-right: 50px;
    z-index: 2;
    color: white;
    margin-top: -70px;
}
.mobile-nav span {
    color: #5a707b;
    border-bottom: 1px solid white;
    padding-right: 5px;

}
.mobile-nav ul li {
    font-size: 35px;
    padding-bottom: 40px;
    text-transform: uppercase;
    margin-left: 550px;
    list-style: none;
}
.mobile-nav ul li a {
    color: white;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.open {
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 70px;
    margin-top: -40px;
    display: block;
    cursor: pointer;
}
.typing {
    margin-top: 200px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: white;
}
.fa-heart {
    color: red;
}